
body {
  font-family: "Roboto Slab", serif;
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

/* Адаптив для планшета */

/* body.is-mobmenu-open {
    overflow: hidden;
}
body.is-mobmenu-open .mobile_main {
    opacity: 1;
    z-index: 2;
    top: 0;
  } */

@media (max-width: 994px) {
  .conteiner {
    max-width: 750px;;
  }
  .logo {
    margin-left: 30px;
  }
 
  .about_coach {
    margin-right: 25px;
    margin-left: 25px;
  }
  .about_coach {
    align-items: center;
  }
}
/* ------------------- */

.conteiner {
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: content-box;
}
.header-background {
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 17;
}
.header-background::before {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 250;
 
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
}
.mobile_main {
  display: none;
}

                                    /* css logo img */
.logo {
padding-top: 20px;
padding-bottom: 20px;
}
/* .logo {            
  position: relative;
  width: 274px;
  height: 76px;
  border: 1px solid #000000;           css верстка logo
  box-sizing: border-box;
  text-align: center;
  margin: 10px  0 10px 10px;
}
.logo_name {
  width: 222.61px;
  height: 35.39px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.5em;
  color: #000000;
  padding-top: 10px;
  padding-left: 20px;
}
.logo_name-sch {
  width: 207px;
  height: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.3em;
  color: #000000;
  padding-left: 26px;
  padding-right: 26px;
}
.logo_item {
  position: absolute;
  left: 10px;
  top: 5px;
  background-color: #000;
  border-radius: 50%;
  width: 7.16px;
  height: 5.88px;
}
.logo_item1 {
  position: absolute;
  left: 250px;
  top: 5px;
  background-color: #000;
  border-radius: 50%;
  width: 7.16px;
  height: 5.88px;
}
.logo_item2 {
  position: absolute;
  left: 10px;
  top: 64px;
  background-color: #000;
  border-radius: 50%;
  width: 7.16px;
  height: 5.88px;
}
.logo_item3 {
  position: absolute;
  left: 250px;
  top: 64px;
  background-color: #000;
  border-radius: 50%;
  width: 7.16px;
  height: 5.88px;
} */

.nav_header-list,
.nav_footer-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav_header-list a {
  text-decoration: none;
  margin-left: 70px;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  line-height: 23px;
  padding-bottom: 10px;
}

.list-nav__link:hover {

  border-bottom: 4px solid #002f7d;
  border-radius: 5px;
}

@media (max-width: 1020px) {
  .nav_header-list a {
    padding-left: 20px;
    font-size: 16px;
  }
  .main_page-title h1 {
    font-size: 40px;
  }
  .main_page-title p {
    font-size: 30px;
  }
  .main_page-foto p {
    font-size: 16px;
  }
  .my_progress p {
    font-size: 14px;
  }
  .chart_title {
    font-size: 30px;
  }
    .block_chart {
      margin: 0 30px ;
    }
    .block_opportunity {
      margin: 0 30px;
    }
   .my_progress-text {
      margin-right: 30px;
    }
  }


/* Главная страница */
.mobile_page {
  display: none;
}
.main_page {
  background-color: #002f7d;
  min-height: 800px;
  margin-top: 90px;
}
.cont {
  display: flex;
  justify-content: space-between;
}
.main_page-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
  color: #ffffff;
  margin-top: 100px;
  margin-left: 50px;
}
.link {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    border: 1px solid #019ed3;
    border-radius: 5px;
    background-color: #019ed3;
    text-decoration: none;
    padding: 20px 30px;
    text-align: center;
}
.link:hover {
  color: #019ED3;
  background-color: #FFFFFF;
  border: 1px solid #019ED3;
  transition:  all 0.4s;

}
.main_page-foto {
  margin-top: 50px;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
}
.social_icon-list {
  display: flex;
  list-style: none;
  padding-top: 40px;
  padding-left: 100px;
}
.social_icon-list a {
  padding-right: 40px;
}
.my_progress {
  padding-top: 40px;
}
.my_progress-text {
  text-decoration: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 18px;
}

/* Что получишь на курсе */

.block_chart {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.chart_title {
  text-align: center;
  margin-top: 100px;
  font-size: 60px;
  font-weight: bold;
}
.chart_title span {
  color: #002f7d;
}
.block_chart div {
  height: 236px;
  width: 236px;
  text-align: center;
  font-size: 26px;
}
.block_chart span {
  font-weight: bold;
}
.block_chart-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 2px;
  color: #002f7d;
}
.block_chart-income {
  background-image: url(../img/chart2.png);
  background-repeat: no-repeat;
  padding-top: 20px;
}
.block_chart-bis {
  background-image: url(../img/chart1.png);
  background-repeat: no-repeat;
  padding-top: 20px;
}
.block_chart-dream {
  background-image: url(../img/chart3.png);
  background-repeat: no-repeat;
  padding-top: 20px;
}

.opportunity_title {
  font-size: 36px;
  font-weight: bold;
  color: #002f7d;
  text-align: center;
  margin-top: 60px;
}
.block_opportunity {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 24px;
  margin-top: 80px;
}
.block_opportunity-item li {
  list-style: none;
  line-height: 80px;
}
.check_icon {
  padding-right: 10px;
}
.link_want {
  font-weight: bold;
  font-size: 24px;
  line-height: 19px;
  color: #ffffff;
  border: 1px solid #019ed3;
  border-radius: 5px;
  background-color: #019ed3;
  text-decoration: none;
  padding: 25px 85px;
  text-align: center;
  margin-top: 60px;
  max-width: 226px;
  text-transform: uppercase;
}
.link_center {
  display: flex;
  justify-content: center;
}
.header-burger {
  display: none;
}
/* @media (max-width: 767px) {
  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;  
  }
  .header-burger span {
    position: absolute;
    background-color: tomato;
    width: 100%;
    height: 3px;
    top: 9px;
  }
  .header-burger::after,
  .header-burger::before {
    content: '';
    position: absolute;
    background-color: tomato;
    width: 100%;
    height: 3px;
    left: 0;
  }
  .header-burger::before {
    top: 0;
  }
  .header-burger::after {
    bottom: 0;
  }
  .nav_header {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: turquoise;
  }
  .nav_header {
    margin-top: 120px;
  }
  .nav_header-list { 
    display: flex;
    flex-direction: column;
  }
} */

/* О тренере */
.title_page-mobcourses,
.title_page-courses,
.title_page-price,
.title_page {
  font-size: 36px;
  font-weight: bold;
  color: #002f7d;
  text-align: center;
  margin-top: 60px;
  padding-top: 40px;
  text-transform: uppercase;
}
.about_coach {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.about_coach-text {
  font-size: 24px;
  line-height: 34px;
  max-width: 458px;
}
.coach-text__marker {
  font-weight: bold;
  color: #019ED3;
}
.about_coach-img {
  padding-top: 25px;
}
.about_coach-certificate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_coach-certificate_list {
  margin: 80px;
}
.certificate_img:hover {
  transform: scale(1.5);
  transition: all 0.4s;
}
.block_result {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.block_result-item {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  max-width: 320px;
}

/* Гарантия */
.mobile_guarantee {
  display: none;
}
.block_guarantee {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}
.block_guarantee-content {
  background-image: url(../img/framegur.png);
  background-repeat: no-repeat;
  width: 772px;
  min-height: 547.56px;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  padding-top: 50px;
}
.block_guarantee-content span {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #002f7d;
  text-transform: uppercase;
}
.logo_gua {
  padding-bottom: 60px;
}
.block_guarantee-img {
  display: flex;
  justify-content: space-around;
}

.center {
  width: 557px;
  margin: 0 auto;
}
.block_reviews {
  background: #019ed3;
}
.reviews_item {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background: #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-right: 15px;
  width: 557px;
  height: 450px;
}
.reviews_item span {
  font-weight: bold;
  font-size: 22px;
}
/*Блок отзывов*/
.container {
  background-color: #019ED3;
}
.main {
  margin: 0 auto;
  width: 1080px;
  height: 650px;
}
.text-content {
  font-size: 14px;
}
.title_page-sl {
  font-size: 36px;
  font-weight: bold;
  color: #002F7D;
  text-align: center;
  margin-top: 0;
  padding-top: 50px;
  text-transform: uppercase;
}
.slick-track {
  padding-top: 0;
}
.sl_slide{
  display: flex;
  width: 1080px;
}
.sl_slide .sl__slide {
  width: 370px;
  height: 460px;
  margin: 20px 0;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.sl_slide .sl__slide img {
  width: 150px;
  height: 150px;
  padding: 70px 100px 5px 100px;
}
.sl_slide .sl__slide .title {
  padding: 20px 100px 0 100px;
  font-weight: bold;
}
.sl_slide .sl__slide .text {
  padding: 5px 10px;
}
.slick-slide-control01 {
  width: 50px;
  height: 50px;
}
.sl_slide .slick-center  {
  transform: scale(1.15);
}
.sl_slide .slick-dots li button {
  border: 5px solid #fff;
  border-radius: 50%;
}

.sl_slide .slick-dots li button:before {
  content: '';
  width: 20px;
  height: 20px;
  opacity: 1;
  border-radius: 50%;
}
.sl_slide .slick-dots li .slick-active:hover,
.sl_slide .slick-dots li .slick-active button {
  border-color: blue;
}
.sl_slide .slick-dots li .slick-active:hover:before, 
.sl_slide .slick-dots li .slick-active button:before {
  background-color: #fff;
  opacity: 1;
}
.slick-dots li {
    margin: 0 25px;
}
.slick-dots {
    margin-bottom: -10px;
}
.slick-track {
  padding-top: 0;
}

.multiple-review .slick-initialized {
  width: 1080px;
}
.slick-slide-control01 {
	width: 50px;
	height: 50px;
}
/*Призыв к действию*/
.wrap-call-to {
	background-color: #002F7D;
	min-height: 500px;	
}
.call-to-action {
	width: 1140px;
	margin: 	0 auto;
}
.call-to-action .title {
	font-size: 36px;
	line-height: 40px;
	color: #fff;
	font-weight: normal;
	text-align: center;
	padding-top: 150px;
	/*margin-left: 500px;*/
}
.call-to-action .link {
	margin-left: 480px;
	margin-top: 115px;
}
.contacts {
	background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: center center;
	height: 420px;
	position: relative;
}
.contacts span {
	font-weight: bold;
  font-size: 40px;
  line-height: 43px;
}
.contacts-desk {
	position: absolute;
	margin-top: 70px;
	width: 300px;
	height: 250px;

	background-color: #fff;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}
.contacts-content{
	display: flex;
	flex-direction: column;
}
.contacts-header {
	margin: 20px auto;
}
.contacts-header span{
  padding: 0 15px;
}
.contacts-header p{
	padding: 0 10px;
}
.contacts-content .adress {
	width: 200px;
	margin-left: 40px;
}
.contacts-content p{
	margin: 0;
	line-height: 22px;
}
.contacts-content .adress span{
	font-size: 14px;
	font-weight: bold;
}
@media (min-width: 760px) and (max-width: 960px){
.nav_header {
  font-size: 10px;;
}
  .nav_header-list a {
    margin-left: 30px;
  }
  .block_chart div {
    height: 190px;
    width: 190px;
    text-align: center;
    font-size: 16px;
  }
  .block_chart-income,
  .block_chart-bis,
  .block_chart-dream {
    background-size: 190px 190px;
  }
  .chart_title {
    font-size: 30px;
  }
  .block_chart-title {
    font-size: 28px;
    font-weight: bold;
    line-height: 2px;
    color: #002f7d;
  }
  .block_opportunity {
    font-size: 16px;
  }
  .block_opportunity-item li {
    line-height: 50px;
  }
  .check_icon {
    width: 25px;
    height: 25px;
  }
  .about_coach-text {
    font-size: 18px;
    line-height: 34px;
    max-width: 700px;
  }
  .about_coach {
    display: flex;
    flex-direction: column;
  }
  .about_coach-img {
    margin-left: 80px;
  }
  .name_coach-text {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }
  .about_coach-certificate_list {
    margin-right: 30px;
    margin-left: 30px;
  }
}

/*Стили слайдера*/

.slick-dots {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  margin: 0;
}

.slick-dots li button {
  border: 1px solid #fff;
  border-radius: 50%;
  border: none;
  background-color: #019ed3;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  margin: 10px;
}

.slick-dots li button:focus {
  outline: none;
}

/*Блок с курсами*/

.block_courses {
  display: flex;
  justify-content: space-between;
}
.block_courses h3 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.courses_first-text,
.courses_second-text {
  background: #ffffff;
  border: 1px solid #002f7d;
  border-radius: 20px 0;
  box-shadow: 10px 10px 5px rgba(0, 47, 125, 0.5);
  margin-left: 20px;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 40px;
  /* height: 590px; */
}
.courses_first-text h4,
.courses_second-text h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.course_program-text {
  font-size: 16px;
  line-height: 30px;
}
.course_program-text1 {
  font-size: 16px;
  margin-bottom: 0;
}

.block_btn {
  display: flex;
  justify-content: flex-end;
}
.btn_sign,
.btn-buy {
  text-align: center;
  background: #019ed3;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  border-color: #019ed3;
  padding: 15px 40px;
}

.btn_sign:focus,
.btn-buy:focus {
  outline: none;
}
/*Стоимость курса*/

.block_price {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}
.block_price-item {
  border: 1px solid #000;
  border-radius: 25px 0 0 0;
  padding-bottom: 30px;
  box-shadow: 10px 10px 5px rgba(0, 47, 125, 0.5);
 }
.block_price-item:not(:last-child) {
  margin-right: 10px;
}
.title_price {
  border-bottom: 1px solid #000;
  border-right: none;
  border-radius: 25px 0 0 0;
  background-color: #019ed3;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 15px 0;
}
.title_price-name {
  font-size: 24px;
}
.sing_dollar {
  font-size: 36px;
}
.price_in_dollars {
  font-size: 48px;
}
.price_in_cents {
  font-size: 24px;
  padding-left: 5px;
}
.price_item-text {
  font-size: 16px;
  padding: 25px 25px 40px 30px;
}
.block_btn-buy {
  display: flex;
  justify-content: space-around;
}

/*Конакты*/

.block_contacts {
  margin-top: 60px;
  background-color: #c4c4c4;
}
.contacts_text {
  font-size: 22px;
  padding: 15px;
}
.contacts_text span {
  font-weight: bold;
  color: #002f7d;
}

/*Подвал*/

.footer {
  background-color: #002f7d;
}
.block_footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_footer-list a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-right: 50px;
  text-decoration: none;
}
.nav_footer-list a:hover {
  border-bottom: 4px solid #fff;
  border-radius: 5px;
  padding-bottom: 10px;
}
.logo_footer {
  padding: 20px 10px;
}
.footer_info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 12px;
  color: #fff;
}
.social_icon-footer {
  display: flex;
  list-style: none;
  padding-bottom: 20px;
}
.social_icon-footer a {
  padding-left: 40px;
}

.slick-slider {
  width: 800px;
}

.slick-initialized {
  width: 1080px;
  height: 450px;
}

.mobile_courses {
  display: none;
}
.mob_block_price {
  display: none;
}

.footer-title {
  margin-bottom: 50px;
}

/* New block */

.registration {
  background-image: linear-gradient(to right, #019ed3,  #002f7d );
}
.conteiner_registr {
  max-width: 1400px;
  margin: 0 auto;
}
.free-lesson {
  display: flex;
 justify-content: center;
  color: #fff;
}
.lesson-record {
  margin-right: 100px ;
}
.lesson-price {
  margin-right: 100px ;
}
.lesson-record__title {
  font-size: 30px;
  font-weight: 700;
}
.lesson-record__lesson-date {
  font-size: 22px;
}
.lesson-price__title {
  display: block;
  margin-top: 50px;
  margin-bottom: 33px;
  font-size: 22px;
}
.lesson-price__free {
  font-size: 30px;
  font-weight: 800;
}
.lessen-sale__percent {
  font-size: 22px;
}
.sale-list {
  display: flex;
  align-items: center;
  margin-top: 95px;
  list-style: none;
  
}
.sale-list li {
  padding-right: 15px;
}

/* form */


.forms-data {
  height: 50px;
  border: none;
  border-radius: 50px;
  margin-right: 10px;
}
.forms {
  margin-top: 30px;;
  margin-left: 150px;
}
.forms-data:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}
.btn-application {
  text-align: center;
  background: #019ed3;
  border-radius: 50px;
  font-size: 20px;
  color: #ffffff;
  border-color: #019ed3;
  padding: 15px 30px;
}
.legal-text {
  text-align: center;
  font-size: 14px;
  color: #c4c4c4;
  margin-top: 20px;;
  padding-bottom: 30px;
}
/* Мобильный адаптив */

@media (max-width: 420px) {
  /* .sl_slide{
    flex-direction: column;
    width: 370px;
    } */
    .sl_slide .slick-center  {
      transform: none;
      }
  .call-to-action {
    width: 360px;
    margin: 	0 auto;
  }
  .call-to-action .title{
    font-size: 24px;
  }
  .call-to-action .link{
    margin-left: 130px;
  }
  .contacts-desk{
    margin: 70px 30px;
  }
  .courses_first-text,
  .courses_second-text {
    /* background: #ffffff;
	  border: 1px solid #002f7d;
	  border-radius: 20px 0;
	  box-shadow: 10px 10px 5px rgba(0, 47, 125, 0.5);
	  margin-left: 20px;
	  font-size: 16px;
	  line-height: 25px; */
    padding: 0px 10px;
    margin: 0 10px;
    width: 335px;
  }
  .block_reviews {
    display: none;
  }
  .sl_price {
    width: 280px;
    /* border-radius: 25px 0 0 0;
    border: 1px solid #000; */
  }
  /* .slick-dots li button:before {
    content: "";
    width: 10px;
    height: 10px;
    background: #000;
    opacity: 1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin: -5px 0 0 -5px;
  } */
  /* .block_price-item:not(:last-child) {
    margin-right: 5px;
  } */
  .courses_first-text h4,
  .courses_second-text h4 {
    margin: 0;
  }
  .courses_first-text p,
  .courses_second-text p {
    margin: 0;
  }
  .slick-dots li .slick-active button {
  }
  .slick-dots li .slick-active button:before {
    background-color: #fff;
    opacity: 1;
  }

  .main_page {
    display: none;
  }
  .header {
    display: none;
  }
  .test_fon {
    background-image: url(../img/mobcoach.png);
  }
  .mobile_page {
    padding-left: 10px;
    padding-top: 10px;
    display: block;
    background-color: rgba(0, 47, 125, 0.7);
    min-height: 600px;
    z-index: 1;
  }
  .mobile_page p {
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;
  }
  .mobile_page h1 {
    padding-top: 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
  }
  .mobile_page-title {
    margin-top: 100px;
  }
  .coahc_name-page p {
    font-size: 12px;
    font-weight: normal;
    margin-left: 200px;
    text-transform: none;
    line-height: 18px;
  }
  .coahc_name-page span {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    padding-top: 30px;
    margin-left: 200px;
  }
  .coahc_name-page {
    margin-top: 60px;
  }
  .link {
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    color: #ffffff;
    border: 1px solid #019ed3;
    border-radius: 5px;
    background-color: #019ed3;
    text-decoration: none;
    padding: 15px 20px;
    text-align: center;
    margin-top: 70px;

    text-transform: uppercase;
  }
  .link:hover {
		color: #019ED3;
		background-color: #FFFFFF;
		border: 1px solid #019ED3;

}
  .gam {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #fff;
  }
  .gam::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: " ";
    width: 30px;
    height: 5px;
    background-color: #fff;
    display: block;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  .gam::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: " ";
    width: 30px;
    height: 5px;
    background-color: #fff;
    display: block;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
/*   .gam.gam-active {
    background-color: transparent;
  }
  .gam.gam-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  .gam.gam-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  } */
  .gam-wrapper {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .mobile_main {
    opacity: 0;
    transition: all 0.5s ease;
    background: #002f7d;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
  }
  .mobile_main.active {
    opacity: 1;
    z-index: 999;
    top: 0;
    width: 100%;
    
  }
  .mobile_nav-list {
    margin-top: 50px;
  }
  .mobile_nav-list li {
    list-style: none;
    padding-top: 50px;
    text-decoration: none;
  }
  .mobile_nav-list a {
    text-decoration: none;
    color: #fff;
  }
  .mobile_nav-list a:hover {
    border-bottom: 4px solid #fff;
    border-radius: 5px;
  }
  .msocial_icon-list {
    display: flex;
    justify-content: center;
    margin-top: 70px;
  }
  .msocial_icon-list li {
    padding: 20px;
    list-style: none;
  }
  .mobile_page {
    position: relative;
    z-index: 2;
  }
  .mobile_main {
    width: 100%;
    min-height: 580px;
    position: absolute;
    z-index: 1;
    
  }
  .bis_tre {
    padding-top: 40px;
  }

  .btn_close {
    display: block;
    background-color: #002f7d;
    border: none;
    margin-top: 20px;
    margin-left: 330px;
    
  }

  .block_chart-dream,
  .block_chart-bis,
  .block_chart-income {
    margin-top: 40px;
  }
  .chart_title {
    margin-top: 30px;
    font-size: 36px;
  }
  .title_page {
    margin-top: 20px;
    font-size: 24px;
  }
  .block_opportunity-item:last-child {
    display: none;
  }
  .block_opportunity {
    margin-top: 60px;
    font-size: 20px;
  }
  .check_icon {
    width: 25px;
    height: 25px;
  }
  .link_want {
    font-size: 16px;
    padding: 20px 40px;
  }
  .about_img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  .block_chart,
  .block_result,
  .about_coach {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .about_coach-img {
    margin: 0;
  }
  .name_coach-text span {
    font-size: 28px;
  }
  .about_coach-certificate_list:nth-child(2) {
    display: none;
  }
  .certificate_img {
    width: 120px;
    height: 180px;
    
  }
  .certificate_img {
    display: flex;
    justify-content: space-around;
  }
/* Бесплатный урок  адаптив*/
  .free-lesson {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
.lesson-record {
  margin-top: 10px;
  margin-right: 0;  
}
.lesson-record__title {
 
}
.lesson-price {
  display: flex;
  margin-top: 20px;
  margin-right: 0;
}
.lesson-price__title {
  margin: 0 20px 0 0;
  padding-top: 8px;
}
.sale-list {
  margin-top: 40px;;
}
.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.forms-data {
  margin-top: 15px;;
}
.btn-application {
  margin-top: 30px;
}
/* Результат адаптив */
  .result_img {
    width: 140px;
    height: 120px;
  }
  .block_result-item {
    font-size: 18px;
    margin-top: 20px;
  }
  .block_guarantee {
    display: none;
  }
  .mobile_guarantee h4 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
  .mobile_guarantee {
    font-size: 16px;
    line-height: 22px;
  }
  .mobile_guarantee span {
    font-size: 18px;
    font-weight: bold;
    color: #019ed3;
  }
  .map {
    display: none;
  }
  .block_footer-content {
    display: none;
  }
  .footer_addres {
    display: none;
  }
  .footer_info {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    padding-top: 20px;
  }
  .block_courses {
    display: none;
  }

  .mobile_courses {
    display: block;
  }
  .mob_block_courses {
    display: flex;
    justify-content: space-between;
    height: 515px;
  }
  .mob_block_courses h3 {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
  }

  .block_btn {
    display: flex;
    justify-content: center;
  }
  .btn_sign,
  .btn-buy {
    text-align: center;
    background: #019ed3;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    border-color: #019ed3;
    padding: 15px 40px;
    margin: 10px 0;
  }

  .btn_sign:focus .btn-buy:focus {
    outline: none;
  }
  /*Стоимость курса*/

  .sl {
    display: flex;
    width: 380px;
    margin-bottom: 300px;
  }
  .sl .courses_first .courses_second {
    width: 320px;
    height: 460px;
    margin: 50px 0;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 16px;
  }
  .course_program-text {
    font-size: 20px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  /* .slick-dots button {
    margin: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 0;
    background-color: #019ed3;
    border: none;
  } */

  .title_page-courses {
    display: none;
  }

  .block_price {
    display: none;
  }
  .sl_price {
    display: flex;
    width: 360px;
  }
  .sl_price .block_price-item {
    background-color: #fff;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); */
    border: 1px solid #000;
    /* border-radius: 5px; */
    font-size: 16px;
    /* margin: 0 5px; */
    margin-right: 5px;
  }
  .mob_block_price {
    margin-bottom: 460px;
    margin-left: 5px;
    display: block;
  }
  .head-menu {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: tomato;
    z-index: 9999;
  }
  .burger {
    position: relative;
  width: 30px;
  height: 3px;
  background-color: wheat;
  margin: 15px;;
  }
  .burger:after {
    content: '';
    width: 30px;
  height: 4px;
  position: absolute;
  top: 20px;
  background-color: wheat;
  }
  .burger:before {
    content: '';
    width: 30px;
  height: 4px;
  position: absolute;
  top: 10px;
  background-color: wheat;
 }
 .burger.active {
  transition: all 0.4s;
 }
}